{% extends 'core/base_template.html' %}
{% load static extras %}

{% block seo_description %}{{ page.seo_description }}{% endblock %}
{% block seo_keywords %}{{ page.seo_keywords }}{% endblock %}
{% block seo_title %}{{ page.seo_title }}{% endblock %}

{% block template_body_block %}
    <div class="page" id="page-featured-projcets">
        <section class="top-ban" id="page-ban" {% if page.banner %}
                 style="background-image: url('{{ page.banner.url }}');"{% endif %}>
            <div class="container h-100">
                <div class="h-100 d-flex align-items-center justify-content-center">
                    <h1>{{ page.banner_text }}</h1>
                </div>
            </div>
        </section>

        <section class="p-body">
            <div class="container">
                <div class="row">
                    {% for project in projects %}
                        <div class="col-md-6 col-lg-4">
                            <a href="{{ project.get_absolute_url }}"
                               {% if project.featured_image %}style="background-image: url('{{ project.featured_image.url }}');"{% endif %}
                               class="d-flex align-items-center justify-content-center proj-box">
                                <h3>{{ project.name }}</h3>
                            </a>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </section>
    </div>
{% endblock %}