{% extends 'core/base_template.html' %}
{% load widget_tweaks extras %}

{% block template_body_block %}
    <div class="page page-dash-password" id="page-dash">
        <section class="top-ban" id="page-ban">
            <div class="container h-100">
                <div class="h-100 d-flex align-items-center justify-content-center">
                    <h1>Change Password</h1>
                </div>
            </div>
        </section>

        <section class="dash-body">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-left">
                        {% get_dash_sidebar %}
                    </div>
                    <div class="col-lg-9 col-right">
                        <div class="row">
                            <div class="col-xl-8">
                                {% if messages %}
                                    {% for message in messages %}
                                        {% if message.extra_tags == 'password_changed' %}
                                            <div class="alert alert-success" role="alert">
                                                {{ message }}
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                {% endif %}

                                <form action="{% url 'dash_password' %}" method="POST">
                                    {% csrf_token %}
                                    {{ form.non_field_errors }}
                                    {% for field in form %}
                                        <div class="form-group">
                                            <label for="{{ field.auto_id }}" class="mb-0">{{ field.label }}</label>
                                            {{ field|attr:"placeholder:"|add_class:"form-control form-control-lg" }}
                                            {{ field.errors }}
                                        </div>
                                    {% endfor %}
                                    <button type="submit" name="action" class="btn btn-lg btn-green px-lg-5">Save
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
{% endblock %}