{% for category_with_images in categories_with_images %}
<section class="gallery-kitchen">
    <div class="container-1 text-center">
        <div class="gallery-heading">
            <div class="d-flex mb-3">
                <p style="margin-bottom:0" class="gallery-sec">INSPIRATION PROJECTS</p>
                <hr class="gallery-hr"/>
            </div>
            <div class="d-flex">
                <p class="float-start gallery-head" style="margin-bottom:0"><b>{{ category_with_images.category.name }}</b></p>
            </div>
        </div>

        <div class="gallery-row row row-cols-1 row-cols-xs-1 row-cols-sm-2 row-cols-md-2 row-cols-lg-3 g-2 g-lg-3">

          {% for image in category_with_images.images %}

          <a href="{{ image.image.url }}" data-fancybox="gallery" class="img-box">

          <div class="col text-center  gallery-col">
            <div class="px-3 pb-3"><img src="{{ image.image.url }}" class="img-thumbnail img-gallery" alt="..."></div>
          </div>

        </a>

          {% endfor %}

        </div>
      </div>
</section>
{% endfor %}