body {
    margin: 0;
    padding-top: 56px;
    /* Adjusted for the fixed navbar height */
    font-family: Roboto Serif;
}

/* Background Section Styles */
.background-section {
    background-color: black;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: -1;
}

/* Transparent Navbar Styles */
.navbar {
    /* backdrop-filter: blur(5px); */
}

.navbar-brand img {
    height: 2.5rem;
    /* Adjust the height of your logo */
}

.nav-link {
    color: #fff;
}

/* Banner Styles */
.banner {
    color: #fff;
    text-align: center;
    padding: 150px 0;
}

.banner-text {
    padding: 0rem 19rem;
}

.banner-text h1 {
    font-size: 4rem;
}

.banner h1 {
    font-size: 4rem;
    /* Adjust the font size as needed */
}

.banner p {
    font-size: 1.2rem;
    /* Adjust the font size as needed */
    padding: 0rem 10rem;
}

.banner-btn {
    background: #3D4A37;
    color: #B0D98A;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    /* Adjust the font size as needed */
}

/* New Section Styles */
.new-section {
    background-color: #3D4A37;
    text-align: center;
    padding: 50px 0;
}

.new-section h2 {
    font-size: 3rem;
    /* Adjust the font size as needed */
    color: #fff;
    margin-bottom: 30px;
}

.customer-number {
    font-size: 4rem;
    /* Adjust the font size as needed */
    color: #fff;
}

.georgian-info p {
    font-size: 1rem;
    color: #fff;
}

.content-section {
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* padding: 100px 0; */
}

.testimonial {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px 0;
}

.testimonial img {
    max-width: 100%;
    /* Ensure the image doesn't exceed its container */
    border-radius: 8px;
    /* Optional: Add border-radius for a rounded image */
}

.testimonial-text {
    max-width: 400px;
    /* Adjust the maximum width of the text content */
    text-align: left;
    margin-left: 10px;
}

.testimonial-text h2 {
    font-size: 2rem;
    /* Adjust the font size as needed */
    color: #000;
    margin-top: 2rem;
}

.testimonial-text p {
    font-size: 1.2rem;
    /* Adjust the font size as needed */
    color: #000;
    margin-bottom: 10px;
}

.testimonial-head {
    display: flex;
    align-items: center;
    padding: 10px 0;

}

.testimonial-head-text {
    max-width: 400px;
    /* Adjust the maximum width of the text content */
    text-align: left;
    margin-left: 10px;
}

.testimonial-head-text img {
    max-width: 100%;
    /* Ensure the image doesn't exceed its container */
    border-radius: 8px;
}

.testimonial-head-text h3 {
    font-size: 2rem;
    /* Adjust the font size as needed */
    color: #000;
    margin: 0px auto;
}

.testimonial-head-text p {
    font-size: 1.2rem;
    /* Adjust the font size as needed */
    color: #000;
    margin-bottom: 10px;
}




.content-section img {
    max-width: 100%;
    /* Ensure the image doesn't exceed its container */
    border-radius: 8px;
    /* Optional: Add border-radius for a rounded image */
}

.content-section-text {
    max-width: 400px;
    /* Adjust the maximum width of the text content */
    text-align: left;
}

.content-section h2 {
    font-size: 2.5rem;
    /* Adjust the font size as needed */
    color: #000;
    margin-bottom: 20px;
}

.content-section p {
    font-size: 1.2rem;
    /* Adjust the font size as needed */
    color: #000;
    margin-bottom: 30px;
}

.content-section-btn {
    background: #3D4A37;
    color: #B0D98A;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    /* Adjust the font size as needed */
    text-decoration: none;
    /* Remove underline from the button */
}

/* *{
    border: 1px solid red;
} */


/* Customer Review */
.demo {
    background: #f8f8f8;
    margin-bottom: 2rem;
}

.testimonial {
    margin: 0 20px 40px;
}

.testimonial .testimonial-content {
    padding: 35px 25px 35px 10rem;
    margin-bottom: 35px;
    background: #fff;
    border: 1px solid #f0f0f0;
    position: relative;
}

.testimonial .testimonial-content:after {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    background: #fff;
    position: absolute;
    bottom: -10px;
    left: 22px;
    transform: rotate(45deg);
}

.testimonial-content .testimonial-icon {
    width: 8rem;
    height: 45px;
    /* background: #ff4242; */
    text-align: center;
    font-size: 22px;
    color: #fff;
    line-height: 42px;
    position: absolute;
    top: 0px;
    left: 0px;
}

/* .testimonial-content .testimonial-icon:before{
content: "";
border-bottom: 16px solid #e41212;
border-left: 18px solid transparent;
position: absolute;
top: -16px;
left: 1px;
} */
.testimonial .description {
    font-size: 15px;
    font-style: italic;
    color: #8a8a8a;
    line-height: 23px;
    margin: 0;
}

.testimonial .title {
    display: block;
    font-size: 18px;
    font-weight: 700;
    color: #525252;
    text-transform: capitalize;
    letter-spacing: 1px;
    margin: 0 0 5px 0;
}

.testimonial .post {
    display: block;
    font-size: 14px;
    color: #ff4242;
}

.owl-theme .owl-controls {
    margin-top: 20px;
}

.owl-theme .owl-controls .owl-page span {
    background: #ccc;
    opacity: 1;
    transition: all 0.4s ease 0s;
}

.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span {
    background: #ff4242;
}


.rating_container {
    padding: 2rem;
    border: 2px solid #e5e5e5;
    margin-bottom: 2rem;
}

.centered-content {
    display: flex;
    align-items: center;
    justify-content: center;
    /* height: 10vh; */
}

.centered-btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Rating Styles */
.ratings {
    font-size: 4rem;
    /* Adjust the font size as needed */
    color: #D4740C;
    /* Set the color to D4740C */
    margin-right: 10px;
    /* Optional: Add margin for spacing between the number and stars */
}

.stars {
    font-size: 4rem;
    /* Adjust the font size as needed */
    color: #D4740C;
    /* Set the color to D4740C */
}

.button-container {
    display: flex;
    gap: 10px;
    /* Optional: Adjust the gap between buttons */
}

.button {
    background-color: #3D4A37;
    color: #B0D98A;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    /* Adjust the font size as needed */
    text-decoration: none;
    /* Remove underline from the button */
}

/* Footer Styles */
.footer {
    background-color: #000;
    color: #A2C880;
    padding: 30px 0;
}

.footer-logo {
    max-width: 12rem;
    /* Adjust the maximum width of the logo */
    margin-bottom: 2rem;
}

.contact-info {
    list-style: none;
    padding: 0;
}

.contact-info li {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

.contact-info i {
    margin-right: 10px;
}

/* Columns Styles */
.footer-columns {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}

.footer-column {
    flex: 1;
    min-width: 250px;
}

.column-heading {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 15px;
}

/* Input and Button Styles */
.subscribe-input {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-bottom: 10px;
}

.subscribe-button {
    background-color: #3D4A37;
    color: #B0D98A;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* List Styles */
.footer-links {
    list-style: none;
    padding: 0;
}

.footer-links li {
    margin-bottom: 10px;
    color: #fff;
}

/* Copyright Section Styles */
.copyright-section {
    background-color: #3D4A37;
    color: #fff;
    text-align: center;
    padding: 0.75rem 0;
}

.copyright-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.copyright-icons {
    display: flex;
    gap: 10px;
}

.copyright-icons i {
    font-size: 24px;
}

.copyright-content p {
    margin-top: 1rem;
}





.text-column {
    padding: 4rem 8rem 0px 0px;
    /* Adjust the padding as needed */
}

/* Style for the column containing image */
.image-column {
    position: relative;
    padding: 20px;
    /* Adjust the padding as needed */

    /* background-size: cover; */
}

/* Style for the image within the column */
.image-column img {
    width: 100%;
    /* Make the image responsive within its container */
    display: block;
    padding: 3.5rem;
}